<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'admin/dashboard' %>
<% end %>

<div class="px-4 py-2 my-2 text-center" role=button>
  <%= image_tag 'favicon-white.png', alt: "[Nome do Projeto]", id: 'dashboard-logo', class: 'image-fluid'%>
  <%# <h1 class="display-5 fw-bold">Rails Base</h1> %>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"><span class="fw-bold"><%= current_user.name %>, </span></p>
    <p class="lead">Bem vindo ao sistema do admin</p>
    <p class="lead">Aqui é o Dashboard</p>
  </div>
</div>
