<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'pages/home' %>
<% end %>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-dark">
  <header class="">
    Your navigation or header
  </header>

  <main class="">
    Your landing page content or sessions
  </main>

  <footer class="">
    Your footer or bottom of the page
  </footer>
</div>


